<style type="text/css">
  .backgroundImageAlpha{
    background: url(images/games/{{ game.background }});
    background-repeat: no-repeat;
    background-position: 50% 0;
  }
</style>

<div class="backgroundImageAlpha">

</div>

<div class="row">
   <!--<input type="text" ng-model="asyncSelected" placeholder="Locations loaded via $http" typeahead="game for game in games" typeahead-loading="loadingLocations" class="form-control">
    <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>-->
   
    <div>
      <div class="media">
        <div class="media-left">
          <a href="#{{ game.id }}">
            <img class="media-object" ng-src="images/games/{{ game.thumbnail }}" />
          </a>
        </div>

        <div class="media-body">
          <h4 class="media-heading" ng-bind="game.name"></h4>

          <strong>Publisher:</strong> {{ game.publisher }}
          <strong>Release Date:</strong> {{ game.releaseDate }}
        </div>
      </div>
    </div>
</div>