<div class="row">
   <!--<input type="text" ng-model="asyncSelected" placeholder="Locations loaded via $http" typeahead="game for game in games" typeahead-loading="loadingLocations" class="form-control">
    <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>-->
   
    <div infinite-scroll="getGames()" infinite-scroll-disabled='isBusy'>
      <div class="media" ng-repeat="game in games">
        <div class="media-left">
          <a href="#/game/{{ game.id }}">
            <img class="media-object" ng-src="images/games/{{ game.thumbnail }}" />
          </a>
        </div>

        <div class="media-body">
          <h4 class="media-heading" ng-bind="game.name"></h4>

          <strong>Publisher:</strong> {{ game.publisher }}
          <strong>Release Date:</strong> {{ game.releaseDate }}
        </div>
      </div>
    </div>
</div>